<div class="flex flex-col h-full">
    <div class="mb-8">
        <h2 class="text-3xl font-semibold">Registration</h2>
        <p class="text-xl">Please enter your details</p>
    </div>
    <div class="grow">
        <form class="flex flex-col" [formGroup]="registerForm" (ngSubmit)="register()">
            <app-input label="Name" [type]="InputTypes.TEXT"
                [control]="registerForm.controls.firstName"></app-input>
            <app-input label="Surname" [type]="InputTypes.TEXT"
                [control]="registerForm.controls.lastName"></app-input>
            <app-input label="Email" [type]="InputTypes.EMAIL"
                [control]="registerForm.controls.email"></app-input>
            <app-input label="Password" [type]="InputTypes.PASSWORD"
                [control]="registerForm.controls.password"></app-input>
            <app-input label="Pesel" [type]="InputTypes.TEXT"
                [control]="registerForm.controls.pesel"></app-input>
            <app-input label="Phone Number" [type]="InputTypes.PHONE_NUMBER"
                [control]="registerForm.controls.phoneNumber"></app-input>
            <app-input label="Gender" [type]="InputTypes.SELECT" [selectValues]="genderSelect"
                [control]="registerForm.controls.gender"></app-input>
            <app-input label="Birthday" [type]="InputTypes.DATE"
                [control]="registerForm.controls.dateOfBirth"></app-input>
            <div class="flex items-center text-sm" 
                [ngClass]="{'invalid': registerForm.controls.acceptPolicy.invalid && registerForm.controls.acceptPolicy.touched}">
                <mat-checkbox [formControl]="registerForm.controls.acceptPolicy" 
                    [ngClass]="{'checkbox-invalid': registerForm.controls.acceptPolicy.invalid && registerForm.controls.acceptPolicy.touched}">
                    <span [ngClass]="{'text-invalid': registerForm.controls.acceptPolicy.invalid && registerForm.controls.acceptPolicy.touched}">Accept</span> 
                </mat-checkbox>
                <a class="hover:underline hover:cursor-pointer text-blue-500 ps-1" routerLink="/policy"> Policy</a>
            </div>

            <button mat-flat-button type="submit">
                <span class="text-xl">Register</span>
            </button>
        </form>
    </div>
    <a class="text-sm hover:underline hover:cursor-pointer self-center pt-2" routerLink="">I already have an account. Sign
        in</a>
</div>