<div class="flex flex-col h-full">
  <div class="mb-8">
    <h2 class="text-3xl font-semibold">Reset password</h2>
    <p class="text-xl">Please enter your email or pesel</p>
  </div>
  <div class="grow">
    <form class="flex flex-col" [formGroup]="resetForm" (ngSubmit)="reset()">
      <app-input class="w-full text-2xl" label="Email or Pesel" [type]="InputTypes.LOGIN"
        [control]="resetForm.controls.login"></app-input>

      <button mat-flat-button type="submit">
        <span class="text-xl">Reset request</span>
      </button>
      <div class="text-right my-2">
        <a routerLink="/setNewPassword" class="hover:underline text-blue-600 hover:text-blue-700">I have confirmation code</a>
      </div>
    </form>
  </div>
  <a class="text-sm font-bold text-blue-600 hover:text-blue-700 hover:underline hover:cursor-pointer self-center pt-2" routerLink="">Sign in</a>
</div>