@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */

*, *::before, *::after {
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* CUSTOM SNACKBAR STYLES */
.error-snackbar {
  /* Zmienna dla tła */
  --mdc-snackbar-container-color: #eb2e2e;
  
  /* Zmienna dla koloru tekstu */
  --mdc-snackbar-supporting-text-color: white;
  
  /* Zmienna dla koloru przycisku (akcji), jeśli istnieje */
  --mat-mdc-snack-bar-button-color: white; 
}
