@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */

*, *::before, *::after {
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* CUSTOM SNACKBAR STYLES */
.error-snackbar .mdc-snackbar__surface {
  background-color: #eb2e2e !important;
}

.error-snackbar .mdc-snackbar__label {
  color: white !important;
  font-weight: 500 !important;
}

.error-snackbar .mat-mdc-button {
  color: white !important;
}

